<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <title>Teams</title>
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-secondary navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="teams.html"
                           th:href="@{/teams}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="players.html"
                           th:href="@{/players}">Players</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="mongo-list-players">
    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <span class="navbar-brand text-uppercase me-auto">Data was successfully written to the database</span>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div id="mongo"
                             action="/write_to_mongo"
                             th:action="@{/write_to_mongo}"
                             th:method="@{get}" th:object="${playersListMongo}">
                            <div th:text="${playersListMongo}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2022</p>
</footer>

</body>
</html>
